[Unit]
Description=Host monitor Exporter
Requires=host-monitor.socket

[Service]
User=root
# Fallback when environment file does not exist
Environment=OPTIONS=
EnvironmentFile=-/etc/sysconfig/host_monitor.env
ExecStart=/usr/local/bin/host_monitor $OPTIONS \
--web.systemd-socket \
--web.listen-address=:16777 \
--collector.disable-defaults \
--collector.cpu \
--collector.meminfo \
--collector.vmstat \
--collector.vmstat.fields=^(oom_kill|workingset|pg.*fault|pswp|pgscan|pgsteal).* \
--collector.loadavg \
--collector.pressure \
--collector.diskstats \
--collector.diskstats.device-include=^(sda|sdb|sdc|nvme.*)$ \
--collector.kvm_guest \
--collector.pressure_stat


[Install]
WantedBy=multi-user.target